:root {
  font-size: 80%;
}

#page-landing {
  background: var(--color-primary);
}

#page-landing #container {
  color: var(--color-text-base);
  /* border: 1px solid red; */
  /* border: none; */
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.logo-container {
  text-align: center;
  font-size: 1.2rem;
  /* border: 1px solid red; */
}

.hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */

  /* margin: 4rem; */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.2rem 0;

  text-decoration: none;

  /* background: var(--color-secondary-dark); */
}

.button-container a {
  width: 19rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  background: var(--color-secondary-dark);
  border: 1px solid black;
  color: var(--color-text-base);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container .logo-image {
  width: 100%;
  /* margin-left: 23%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
